<div class="w-full bg-[#1a172c] text-white p-6">
  <div class="grid md:grid-cols-3 grid-cols-1 gap-6">
    <div class="flex flex-col">
      <img src="../../assets/Images/logo.svg" width="30px" height="30px" />
      <p class="md:max-w-[27rem] mt-3">
        Colorsense is an application created to help designers and developers
        and make the world of websites more accesible for people with
        disabilities.
      </p>
    </div>
    <div class="flex flex-col">
      <span class="text-xl font-[500]">About the Author</span>
      <p class="md:max-w-[27rem] mt-3">
        Application designed and created by Mikołaj Kaczmarski, front-end
        developer from Poland. See other projects on Kaczmarski.dev
      </p>
    </div>
    <div class="flex flex-col">
      <span class="text-xl font-[500] mb-3">Contact</span>
      <span>Do You want to help growing this project or report a bug?</span>
      <span>reach me here: mikolajkaczmarski07@onet.pl</span>
      <span
        >Or via my
        <a
          href="https://www.linkedin.com/in/mikołaj-kaczmarski/"
          target="_blank"
          >linkedin</a
        ></span
      >
    </div>
  </div>
  <hr class="my-6 border-1 border-[#888a92d3]" />
  <div class="w-full flex justify-center items-center">
    <span>© 2023 Colorsense. All Rights reserved</span>
  </div>
</div>
