<div class="min-h-[100svh] flex flex-col gap-6 p-6">
  <div class="w-full flex flex-col gap-3 items-center my-6">
    <h1 class="text-5xl font-bold text-center">Palette Contrast Checker</h1>
    <h2 class="text-2xl text-[#5d5d5d]">Calculate the contrast ratio</h2>
  </div>
  <ng-template #fail
    ><span class="text-[#b52546] passInfo">Fail</span>
  </ng-template>
  <div class="contrast-checker">
    <div class="left-half">
      <div class="flex flex-col gap-6">
        <div class="flex gap-6 w-full">
          <div class="flex flex-col gap-1 w-[50%]">
            <div class="flex sm:flex-row flex-col sm:gap-1 text-center">
              <span class="text-lg font-[500] sm:text-start text-center"
                >Background</span
              >
              <span class="text-lg font-[500] sm:text-start text-center"
                >Color</span
              >
            </div>

            <div class="colorValueContainer">
              <span class="text-lg">{{ colorsService.backgroundColor }}</span>
              <div class="backgroundColorPicker colorBlock"></div>
            </div>
          </div>
          <div class="flex flex-col gap-1 w-[50%]">
            <div class="flex sm:flex-row flex-col sm:gap-1 text-center">
              <span class="text-lg font-[500] sm:text-start text-center"
                >Text</span
              >
              <span class="text-lg font-[500] sm:text-start text-center"
                >Color</span
              >
            </div>
            <div class="colorValueContainer">
              <span class="text-lg">{{ colorsService.textColor }}</span>
              <div class="textPicker colorBlock"></div>
            </div>
          </div>
        </div>

        <span class="text-lg font-[500] sm:text-start text-center"
          >Contrast ratio</span
        >
        <span
          class="text-4xl font-[500] sm:text-start text-center"
          [ngClass]="{
            'text-[#018578]': colorsService.textToBackgroundRatio >= 4.5,
            'text-[#b52546]': colorsService.textToBackgroundRatio < 4.5
          }"
          >{{ colorsService.textToBackgroundRatio }}:1</span
        >

        <span class="text-lg font-[500] sm:text-start text-center"
          >Details</span
        >
        <div class="flex items-center justify-between">
          <span>Small text</span>
          <div class="flex items-center gap-2 justify-between sm:w-[6rem]">
            <span
              *ngIf="colorsService.textToBackgroundRatio >= 4.5; else fail"
              class="text-[#018578] passInfo"
              >Pass</span
            >
            <div
              class="px-3 py-1 rounded-[5px] text-white"
              [ngClass]="{
                'bg-[#018578]': colorsService.textToBackgroundRatio >= 4.5,
                'bg-[#b52546]': colorsService.textToBackgroundRatio < 4.5
              }"
            >
              AA
            </div>
          </div>
          <div class="flex items-center gap-2 justify-between sm:w-[6rem]">
            <span
              *ngIf="colorsService.textToBackgroundRatio >= 7; else fail"
              class="text-[#018578] passInfo"
              >Pass</span
            >
            <div
              class="px-3 py-1 rounded-[5px] bg-[#018578] text-white"
              [ngClass]="{
                'bg-[#018578]': colorsService.textToBackgroundRatio >= 7,
                'bg-[#b52546]': colorsService.textToBackgroundRatio < 7
              }"
            >
              AAA
            </div>
          </div>
        </div>
        <div class="flex items-center justify-between">
          <span>Large text</span>
          <div class="flex items-center gap-2 justify-between sm:w-[6rem]">
            <span
              *ngIf="colorsService.textToBackgroundRatio >= 3; else fail"
              class="text-[#018578] passInfo"
              >Pass</span
            >
            <div
              class="px-3 py-1 rounded-[5px] text-white"
              [ngClass]="{
                'bg-[#018578]': colorsService.textToBackgroundRatio >= 3,
                'bg-[#b52546]': colorsService.textToBackgroundRatio < 3
              }"
            >
              AA
            </div>
          </div>
          <div class="flex items-center gap-2 justify-between sm:w-[6rem]">
            <span
              *ngIf="colorsService.textToBackgroundRatio >= 4.5; else fail"
              class="text-[#018578] passInfo"
              >Pass</span
            >
            <div
              class="px-3 py-1 rounded-[5px] text-white"
              [ngClass]="{
                'bg-[#018578]': colorsService.textToBackgroundRatio >= 4.5,
                'bg-[#b52546]': colorsService.textToBackgroundRatio < 4.5
              }"
            >
              AAA
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-half backgroundColorPicker textField">
      <span class="text-4xl font-[500]">AAA</span>
      <span class="text-2xl font-[500]">Color contrast check</span>
      <span
        >This is a test of the contrast between the
        <span class="font-[500]">text color</span> and the
        <span class="font-[500]">background color</span>
      </span>
    </div>
  </div>

  <div class="contrast-checker">
    <div class="left-half">
      <div class="flex flex-col gap-6">
        <div class="flex gap-6 w-full">
          <div class="flex flex-col gap-1 w-[50%]">
            <div class="flex sm:flex-row flex-col sm:gap-1 text-center">
              <span class="text-lg font-[500] sm:text-start text-center"
                >Secondary</span
              >
              <span class="text-lg font-[500] sm:text-start text-center"
                >Color</span
              >
            </div>
            <div class="colorValueContainer">
              <span class="text-lg">{{ colorsService.secondaryColor }}</span>
              <div class="secondaryColorPicker colorBlock"></div>
            </div>
          </div>
          <div class="flex flex-col gap-1 w-[50%]">
            <div class="flex sm:flex-row flex-col sm:gap-1 text-center">
              <span class="text-lg font-[500] sm:text-start text-center"
                >Text</span
              >
              <span class="text-lg font-[500] sm:text-start text-center"
                >Color</span
              >
            </div>
            <div class="colorValueContainer">
              <span class="text-lg">{{ colorsService.textColor }}</span>
              <div class="textPicker colorBlock"></div>
            </div>
          </div>
        </div>

        <span class="text-lg font-[500] sm:text-start text-center"
          >Contrast ratio</span
        >
        <span
          class="text-4xl font-[500] sm:text-start text-center"
          [ngClass]="{
            'text-[#018578]': colorsService.textToSecondaryRatio >= 4.5,
            'text-[#b52546]': colorsService.textToSecondaryRatio < 4.5
          }"
          >{{ colorsService.textToSecondaryRatio }}:1</span
        >

        <span class="text-lg font-[500] sm:text-start text-center"
          >Details</span
        >
        <div class="flex items-center justify-between">
          <span>Small text</span>
          <div class="flex items-center gap-2 justify-between sm:w-[6rem]">
            <span
              *ngIf="colorsService.textToSecondaryRatio >= 4.5; else fail"
              class="text-[#018578] passInfo"
              >Pass</span
            >
            <div
              class="px-3 py-1 rounded-[5px] text-white"
              [ngClass]="{
                'bg-[#018578]': colorsService.textToSecondaryRatio >= 4.5,
                'bg-[#b52546]': colorsService.textToSecondaryRatio < 4.5
              }"
            >
              AA
            </div>
          </div>
          <div class="flex items-center gap-2 justify-between sm:w-[6rem]">
            <span
              *ngIf="colorsService.textToSecondaryRatio >= 7; else fail"
              class="text-[#018578] passInfo"
              >Pass</span
            >
            <div
              class="px-3 py-1 rounded-[5px] bg-[#018578] text-white"
              [ngClass]="{
                'bg-[#018578]': colorsService.textToSecondaryRatio >= 7,
                'bg-[#b52546]': colorsService.textToSecondaryRatio < 7
              }"
            >
              AAA
            </div>
          </div>
        </div>
        <div class="flex items-center justify-between">
          <span>Large text</span>
          <div class="flex items-center gap-2 justify-between sm:w-[6rem]">
            <span
              *ngIf="colorsService.textToSecondaryRatio >= 3; else fail"
              class="text-[#018578] passInfo"
              >Pass</span
            >
            <div
              class="px-3 py-1 rounded-[5px] text-white"
              [ngClass]="{
                'bg-[#018578]': colorsService.textToSecondaryRatio >= 3,
                'bg-[#b52546]': colorsService.textToSecondaryRatio < 3
              }"
            >
              AA
            </div>
          </div>
          <div class="flex items-center gap-2 justify-between sm:w-[6rem]">
            <span
              *ngIf="colorsService.textToSecondaryRatio >= 4.5; else fail"
              class="text-[#018578] passInfo"
              >Pass</span
            >
            <div
              class="px-3 py-1 rounded-[5px] text-white"
              [ngClass]="{
                'bg-[#018578]': colorsService.textToSecondaryRatio >= 4.5,
                'bg-[#b52546]': colorsService.textToSecondaryRatio < 4.5
              }"
            >
              AAA
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-half secondaryColorPicker textField">
      <span class="text-4xl font-[500]">AAA</span>
      <span class="text-2xl font-[500]">Color contrast check</span>
      <span
        >This is a test of the contrast between the
        <span class="font-[500]">text color</span> and the
        <span class="font-[500]">secondary color</span>
      </span>
    </div>
  </div>

  <div class="contrast-checker">
    <div class="left-half">
      <div class="flex flex-col gap-6">
        <div class="flex gap-6 w-full">
          <div class="flex flex-col gap-1 w-[50%]">
            <div class="flex sm:flex-row flex-col sm:gap-1 text-center">
              <span class="text-lg font-[500] sm:text-start text-center"
                >Primary</span
              >
              <span class="text-lg font-[500] sm:text-start text-center"
                >Color</span
              >
            </div>
            <div class="colorValueContainer">
              <span class="text-lg">{{ colorsService.primaryColor }}</span>
              <div class="primaryColorPicker colorBlock"></div>
            </div>
          </div>
          <div class="flex flex-col gap-1 w-[50%]">
            <div class="flex sm:flex-row flex-col sm:gap-1 text-center">
              <span class="text-lg font-[500] sm:text-start text-center"
                >Button text</span
              >
              <span class="text-lg font-[500] sm:text-start text-center"
                >Color</span
              >
            </div>
            <div class="colorValueContainer">
              <span class="text-lg">{{ colorsService.buttonTextColor }}</span>
              <div class="buttonColorPicker colorBlock"></div>
            </div>
          </div>
        </div>

        <span class="text-lg font-[500] sm:text-start text-center"
          >Contrast ratio</span
        >
        <span
          class="text-4xl font-[500] sm:text-start text-center"
          [ngClass]="{
            'text-[#018578]': colorsService.buttonTextRatio >= 4.5,
            'text-[#b52546]': colorsService.buttonTextRatio < 4.5
          }"
          >{{ colorsService.buttonTextRatio }}:1</span
        >

        <span class="text-lg font-[500] sm:text-start text-center"
          >Details</span
        >
        <div class="flex items-center justify-between">
          <span>Small text</span>
          <div class="flex items-center gap-2 justify-between sm:w-[6rem]">
            <span
              *ngIf="colorsService.buttonTextRatio >= 4.5; else fail"
              class="text-[#018578] passInfo"
              >Pass</span
            >
            <div
              class="px-3 py-1 rounded-[5px] text-white"
              [ngClass]="{
                'bg-[#018578]': colorsService.buttonTextRatio >= 4.5,
                'bg-[#b52546]': colorsService.buttonTextRatio < 4.5
              }"
            >
              AA
            </div>
          </div>
          <div class="flex items-center gap-2 justify-between sm:w-[6rem]">
            <span
              *ngIf="colorsService.buttonTextRatio >= 7; else fail"
              class="text-[#018578] passInfo"
              >Pass</span
            >
            <div
              class="px-3 py-1 rounded-[5px] bg-[#018578] text-white"
              [ngClass]="{
                'bg-[#018578]': colorsService.buttonTextRatio >= 7,
                'bg-[#b52546]': colorsService.buttonTextRatio < 7
              }"
            >
              AAA
            </div>
          </div>
        </div>
        <div class="flex items-center justify-between">
          <span>Large text</span>
          <div class="flex items-center gap-2 justify-between sm:w-[6rem]">
            <span
              *ngIf="colorsService.buttonTextRatio >= 3; else fail"
              class="text-[#018578] passInfo"
              >Pass</span
            >
            <div
              class="px-3 py-1 rounded-[5px] text-white"
              [ngClass]="{
                'bg-[#018578]': colorsService.buttonTextRatio >= 3,
                'bg-[#b52546]': colorsService.buttonTextRatio < 3
              }"
            >
              AA
            </div>
          </div>
          <div class="flex items-center gap-2 justify-between sm:w-[6rem]">
            <span
              *ngIf="colorsService.buttonTextRatio >= 4.5; else fail"
              class="text-[#018578] passInfo"
              >Pass</span
            >
            <div
              class="px-3 py-1 rounded-[5px] text-white"
              [ngClass]="{
                'bg-[#018578]': colorsService.buttonTextRatio >= 4.5,
                'bg-[#b52546]': colorsService.buttonTextRatio < 4.5
              }"
            >
              AAA
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-half primaryColorPicker buttonTextColor">
      <span class="text-4xl font-[500]">AAA</span>
      <span class="text-2xl font-[500]">Color contrast check</span>
      <span
        >This is a test of the contrast between the
        <span class="font-[500]">text color</span> and the
        <span class="font-[500]">secondary color</span>
      </span>
    </div>
  </div>

  <div class="flex flex-col gap-6 my-6 xl:w-[75%] w-full mx-auto">
    <span class="text-2xl font-[500]">What do those numbers mean?</span>
    <span>
      Following the
      <a
        href="https://en.wikipedia.org/wiki/Web_Content_Accessibility_Guidelines"
        target="_blank"
        >Web Content Accesibility Guidelines (WCAG)</a
      >, the required minimum contrast ratio (AA) for normal text is at least
      4.5:1, and at least 3:1 for large or bold text. The standard also defines
      an enhanced contrast ratio (AAA), which is at least 7:1 for normal text
      and at least 4.5:1 for large or bold text. Adhering to WCAG guidelines
      regarding contrast is essential to ensure that web content is always
      readable and accessible for all users, regardless of their visual
      abilities
    </span>
  </div>
</div>
