<div class="min-h-[100svh] flex justify-center items-center">
  <!-- <div class="flex items-center gap-3">
    <span
      >Normal text to background
      {{
        colorsService.checkContrast(
          colorsService.textColor,
          colorsService.backgroundColor
        )
      }}:1</span
    >
    <span
      >Normal text to secondary
      {{
        colorsService.checkContrast(
          colorsService.textColor,
          colorsService.secondaryColor
        )
      }}:1</span
    >
    <span
      >Button text
      {{
        colorsService.checkContrast(
          colorsService.buttonTextColor,
          colorsService.primaryColor
        )
      }}:1</span
    >
  </div> -->
  <div class="flex">
    <div
      class="box-border w-[50%] p-6 border-2 border-r-0 border-[#e9e8e8] rounded-[10px] rounded-r-none"
    >
      <div class="flex flex-col gap-6">
        <div class="flex gap-6 w-full">
          <div class="flex flex-col gap-1 w-[50%]">
            <span class="text-xl font-[500]">Secondary color</span>
            <div
              class="flex justify-between items-center py-2 px-3 border-2 border-[#e9e8e8] rounded-[10px]"
            >
              <span class="text-xl">#1F234</span>
              <div
                class="secondary-color w-6 h-6 rounded-[5px] border-2 border-[#eeeeee]"
              ></div>
            </div>
          </div>
          <div class="flex flex-col gap-1 w-[50%]">
            <span class="text-xl font-[500]">Text color</span>
            <div
              class="flex justify-between items-center py-2 px-3 border-2 border-[#eeeeee] rounded-[10px]"
            >
              <span class="text-xl">#FF32</span>
              <div
                class="textPicker w-6 h-6 rounded-[5px] border-2 border-[#eeeeee]"
              ></div>
            </div>
          </div>
        </div>

        <span class="text-xl font-[500]">Contrast ratio</span>
        <span class="text-4xl font-[500] textToSecondary"
          >{{
            colorsService.checkContrast(
              colorsService.textColor,
              colorsService.secondaryColor,
              "textToSecondary",
              "AA"
            )
          }}:1</span
        >

        <span class="text-xl font-[500]">Details</span>
        <div class="flex items-center justify-between">
          <span>Small text</span>
          <div class="flex items-center gap-2">
            <span>Pass</span>
            <div class="px-3 py-1 rounded-[5px] bg-green-900 text-white">
              AA
            </div>
          </div>
          <div class="flex items-center gap-2">
            <span>Pass</span>
            <div class="px-3 py-1 rounded-[5px] bg-green-900 text-white">
              AAA
            </div>
          </div>
        </div>
        <div class="flex items-center justify-between">
          <span>Large text</span>
          <div class="flex items-center gap-2">
            <span>Pass</span>
            <div class="px-3 py-1 rounded-[5px] bg-green-900 text-white">
              AA
            </div>
          </div>
          <div class="flex items-center gap-2">
            <span>Pass</span>
            <div class="px-3 py-1 rounded-[5px] bg-green-900 text-white">
              AAA
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="box-border w-[50%] flex flex-col justify-center items-center text-center gap-2 secondary-color textField p-6 rounded-[10px] rounded-l-none border-2 border-[#e9e8e8]"
    >
      <span class="text-4xl font-[500]">AAA</span>
      <span class="text-2xl font-[500]">Color contrast check</span>
      <span
        >This is a test of the contrast between the
        <span class="font-[500]">text color</span> and the
        <span class="font-[500]">secondary color</span>
      </span>
    </div>
  </div>
</div>
