@media (max-width: 400px) {
  .passInfo {
    display: none;
  }
}

.colorValueContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 0.75rem;
  border: 2px #e9e8e8 solid;
  border-radius: 10px;
  box-sizing: border-box;

  @media (max-width: 400px) {
    justify-content: center;
  }
}

.colorBlock {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5px;
  border: 2px #e9e8e8 solid;
  display: block;

  @media (max-width: 400px) {
    display: none;
  }
}

.contrast-checker {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;

  @media (min-width: 900px) {
    flex-direction: row;
    margin: 0 auto;
  }

  @media (min-width: 1280px) {
    width: 75%;
  }
}

.right-half {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  padding: 1.5rem;
  border: 2px #e9e8e8 solid;
  border-radius: 10px 10px 0 0;

  @media (min-width: 900px) {
    width: 50%;
    border-radius: 0 10px 10px 0;
  }
}

.left-half {
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem;
  border: 2px #e9e8e8 solid;
  border-top: none;

  @media (min-width: 900px) {
    width: 50%;
    border-radius: 10px 0 0 10px;
    border-right: none;
    border-top: 2px #e9e8e8 solid;
  }
}
