.menueVisible {
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.DisabilityType {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: baseline;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.DisabilityType:not(.selected):hover {
  background-color: #d6d6d6;
}

.selected {
  background-color: #1dbaad;
}
