<div class="flex flex-col gap-6 p-6 items-start">
  <span class="text-2xl font-[500]">Colorblindness type</span>
  <button>
    <span
      class="font-[500] hover:underline hover:underline-offset-[6px]"
      (click)="filterService.applyFilter('normal')"
      [ngClass]="{
        'underline underline-offset-[6px]':
          filterService.selectedDisability === 'normal'
      }"
      >Normal vision</span
    >
  </button>
  <button
    (click)="filterService.applyFilter('deuteranomaly')"
    class="hover:underline hover:underline-offset-[6px]"
    [ngClass]="{
      'underline underline-offset-[6px]':
        filterService.selectedDisability === 'deuteranomaly'
    }"
  >
    <span class="font-[500]">Deuteranomaly</span> (Most Common)
  </button>
  <button
    (click)="filterService.applyFilter('protanomaly')"
    class="hover:underline hover:underline-offset-[6px]"
    [ngClass]="{
      'underline underline-offset-[6px]':
        filterService.selectedDisability === 'protanomaly'
    }"
  >
    <span class="font-[500]">Protanomaly</span> (Less Common)
  </button>
  <button
    (click)="filterService.applyFilter('protanopia')"
    class="hover:underline hover:underline-offset-[6px]"
    [ngClass]="{
      'underline underline-offset-[6px]':
        filterService.selectedDisability === 'protanopia'
    }"
  >
    <span class="font-[500]">Protanopia</span> (Less Common)
  </button>
  <button
    (click)="filterService.applyFilter('tritanomaly')"
    class="hover:underline hover:underline-offset-[6px]"
    [ngClass]="{
      'underline underline-offset-[6px]':
        filterService.selectedDisability === 'tritanomaly'
    }"
  >
    <span class="font-[500]">Tritanomaly</span> (Rare)
  </button>
  <button
    (click)="filterService.applyFilter('tritanopia')"
    class="hover:underline hover:underline-offset-[6px]"
    [ngClass]="{
      'underline underline-offset-[6px]':
        filterService.selectedDisability === 'tritanopia'
    }"
  >
    <span class="font-[500]">Tritanopia</span> (Rare)
  </button>
  <button
    (click)="filterService.applyFilter('achromatopsia')"
    class="hover:underline hover:underline-offset-[6px]"
    [ngClass]="{
      'underline underline-offset-[6px]':
        filterService.selectedDisability === 'achromatopsia'
    }"
  >
    <span class="font-[500]">Achromatopsia</span> (Very Rare)
  </button>
</div>
