.secondary-color {
  min-height: 15vw;
  border-radius: 10px;
}

.formColor.dark {
  &:-moz-placeholder {
    color: #c7c7c7;
  }
  &:-ms-input-placeholder {
    color: #c7c7c7;
  }
  &::-webkit-input-placeholder {
    color: #c7c7c7;
  }
}

.formColor.light {
  &:-moz-placeholder {
    color: #2d2d2d;
  }
  &:-ms-input-placeholder {
    color: #2d2d2d;
  }
  &::-webkit-input-placeholder {
    color: #2d2d2d;
  }
}
