<div class="w-full h-full">
  <div class="flex m-6">
    <ngx-colors
      ngx-colors-trigger
      [(ngModel)]="backgroundColor"
      (ngModelChange)="changeBackground(backgroundColor)"
    ></ngx-colors>
    <ngx-colors
      ngx-colors-trigger
      [(ngModel)]="primaryColor"
      (ngModelChange)="changePrimaryColor(primaryColor)"
    ></ngx-colors>
    <ngx-colors
      ngx-colors-trigger
      [(ngModel)]="secondaryColor"
      (ngModelChange)="changeSecondaryColor(secondaryColor)"
    ></ngx-colors>
    <ngx-colors
      ngx-colors-trigger
      [(ngModel)]="textColor"
      (ngModelChange)="changeTextColor(textColor)"
    ></ngx-colors>
  </div>

  <div class="grid md:grid-cols-3 gap-4 mx-6">
    <div class="col-span-2 row-span-2 canvas-elem"></div>

    <div class="col-span-1 row-span-1 canvas-elem">
      <div class="flex">
        <div class="rounded-full h-8 w-8 secondary-color"></div>
      </div>
      <span class="textField"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </span>
    </div>

    <div class="col-span-1 row-span-1 canvas-elem"></div>
    <div class="col-span-1 row-span-1 canvas-elem"></div>
    <div class="col-span-2 row-span-1 canvas-elem"></div>
  </div>
</div>
<div class="zrobić to jak w nirvanie"></div>
