<div
  class="md:min-h-[calc(100svh-3rem)] min-h-[calc(100svh-5.5rem)] h-full grid md:grid-cols-6 md:grid-rows-1 grid-rows-6"
>
  <app-color-container
    class="canvas"
    [color]="colorsService.backgroundColor"
  ></app-color-container>
  <app-color-container
    class="secondary-color"
    [color]="colorsService.secondaryColor"
  ></app-color-container>
  <app-color-container
    class="formColorPicker"
    [color]="colorsService.formColor"
  ></app-color-container>
  <app-color-container
    class="primary-color"
    [color]="colorsService.primaryColor"
  ></app-color-container>
  <app-color-container
    class="textPicker"
    [color]="colorsService.textColor"
  ></app-color-container>
  <app-color-container
    class="buttonColorPicker"
    [color]="colorsService.buttonTextColor"
  ></app-color-container>
</div>
