@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100 svh;
  overflow-x: hidden;
}

.scrollbar-thumb-y {
  background-color: darkgrey !important;
  border-radius: 50%;
  width: 10px !important;
}

.scrollbar-track-y {
  background-color: #d8d8d8 !important;
  width: 10px !important;
}
