.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: rgb(243, 243, 243);
  text-align: center;
  transition: all 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
  }
}

.supported {
  min-height: calc(100svh - 8.5rem);
  @media (min-width: 900px) {
    min-height: calc(100svh - 6rem);
  }
}

.not-supported {
  min-height: calc(100vh - 8.5rem);
  @media (min-width: 900px) {
    min-height: calc(100vh - 6rem);
  }
}
